<?xml version="1.0"?>
<launch>
  <include file="$(find tta_blb)/launch/BLB_3Dlidar_detection.launch" />
  <include file="$(find tta_blb)/launch/BLB_ard.launch" />
  <include file="$(find tta_blb)/launch/BLB_MONITOR.launch" />
  <include file="$(find tta_blb)/launch/BLB_LIDAR_DETECT.launch" />
</launch>
